:root {
    --color-background-menu: #eae6df;
    --color-text-menu: #6a6763;
    --color-border-menu:#dfd8ce;
    --color-logo-menu:#334D50;
    --color-text-selection:#cccccc;

    --color-heading-footer: #2e4548;
    --color-desc-footer: #6a6763;
    --color-text-btn-footer: #f2f0ec;
    --color-background-btn-footer:#2e4548;
    --color-label-text-footer: #6a6763;
    --color-background-input-footer: #EEEBE5;
    --color-text-input-footer: #6a6763;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 2.3rem;
    font-family: "Poppins", serif;
    box-sizing: border-box;
}

::selection {
    background-color: var(--color-text-selection);
}

.grid {
    width: 1320px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

.grid__column-2-4 {
    width: calc(25% - 2.5rem);
}

.grid__column-2-2 {
    width: calc(45%);
}

.container {
    height: 1200px;
}